div#elementor-template-library-order-toolbar-local {
    opacity: 0;
    height: 0;
    margin-top: 15px;
}

#elementor-template-library-templates[data-template-source="local"] #elementor-template-library-templates-container {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#elementor-template-library-templates-container {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}

.elementor-template-library-template-local {
    flex-direction: column;
    flex-basis: 33.3%;
    margin-bottom: 15px;
    height: auto;
    justify-content: flex-start;
    padding: 0;
    padding-right: 15px;
    background-color: transparent;
}

.elementor-template-library-template-local img {
    max-width: 100%;
    height: auto;
}

.elementor-template-library-template-content {
    margin-top: 15px;
    width: 100%;
}

.elementor-template-library-template-content div {
    display: flex;
    width: unset;
    flex: 1;
}

.elementor-template-library-template-local .elementor-template-library-template-page {
    width: 100%;
    margin: 0;
    padding: 15px;
    border-radius: 0;
    height: 100%;
}

.elementor-template-library-template-local .elementor-template-library-template-controls {
    margin-top: 10px;
}

.elementor-template-library-template-remote:hover .elementor-template-library-template-name, 
.elementor-template-library-template-remote:not(:hover) .elementor-template-library-favorite, 
.elementor-template-library-template-remote:not(:hover) .elementor-template-library-template-action {
    display: unset;
}

.elementor-template-library-template-local .elementor-template-library-template-controls .elementor-template-library-template-more-toggle, 
.elementor-template-library-template-local .elementor-template-library-template-controls button {
    justify-content: space-around;    
    margin-left: 0;
    margin-right: 0;
    display: inline-block;
}

.elementor-template-library-template-local .elementor-button.elementor-button-success:not([disabled]) {
    background-color: transparent;
}

.elementor-template-library-template-local .elementor-template-library-template-remote .elementor-template-library-template-insert {
    color: #a4afb7;
}

.elementor-template-library-template-local .elementor-template-library-template-controls button {
    background-color: #e6e9ec !important;
    padding: 8px 25px 8px 18px;
}

.elementor-template-library-template-local .elementor-template-library-template-controls button:hover {
    background-color: #39b54a !important;
    color: white;
}

.elementor-template-library-template-body {
    width: 100%;
}

.elementor-template-library-template-screenshot {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}